nav {
   background-color: #ff5050;
   color: white;
   font-family: 'Indie Flower', cursive;
     
}

nav li {
    display: inline-flex;
    margin-left: 10px;

}
nav li:hover{
    cursor: pointer;
}


.page{
   display: grid;

   grid-template-areas: "head head" 
                        "nav main"
                        "nav foot" ;
   grid-template-columns: 100px  1fr;
   grid-template-rows: 50px 1fr 1fr;
   grid-gap:5px;
}

.head{
    grid-area:head;
    background-color: #ff5050;
}

.nav{
    grid-area:nav;
    background-color: #e8d0d0;
}


.main{
    grid-area:main;
    background-color: #e0a8a0;
}

.foot{
    grid-area:foot ;
    background-color:#f2f2f2;
}
